{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}

{% block title %}{% trans '404' %}{% endblock %}

{% block content %}

    <!-- 404 -->
    <main class="main-content-wrapper">
        <div class="error-area pt--90 pt-xl--70 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 text-center">
                        <div class="error">
                            <h1>404</h1>
                            <h2>صفحه مورد نظر پیدا نشد</h2>
                            <p style="text-align: center">صفحه مورد نظر شما وجود ندارد، حذف شده، نام تغییر کرده و یا به طور موقت از دسترس خارج است.</p>
                            <a href="{% url 'home' %}" class="btn">رفتن به صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end: 404 -->

{% endblock %}



