{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}

{% block title %}{% trans 'About' %}{% endblock %}

{% block content %}

    <!-- About -->
    <main class="main-content-wrapper">
        <div class="inner-page-content pt--75 pt-md--55">
            <section class="contact-area mb--75 mb-md--55">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-5 mb-sm--30">
                            <div class="heading mb--32">
                                <h2>داستان</h2>
                                <hr class="delimeter">
                            </div>
                            <div class="contact-info mb--20">
                                <p style="text-align: justify; color: black; margin-left: 2em;">جنگل آشفته نیاز به نگهبان دارد. هومبابا نگهبانی است که در جنگل آشفته بازار املاک در کنار شما و مشغول حفاظت خواهد بود.</p>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-5 mb-sm--30">
                            <div class="heading mb--32">
                                <h2>معرفی شرکت</h2>
                                <hr class="delimeter">
                            </div>
                            <div class="contact-info mb--20">
                                <p style="text-align: justify; color: black; margin-left: 2em;">جنگل آشفته نیاز به نگهبان دارد. هومبابا نگهبانی است که در جنگل آشفته بازار املاک در کنار شما و مشغول حفاظت خواهد بود.</p>
                            </div>
                            </div>

                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- end: About -->

{% endblock %}



