{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}

{% block title %}{% trans 'Rules' %}{% endblock %}

{% block content %}

    <!-- Rules -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80 ptb-md--60">
            <div class="container">
                <div class="row">
                    <div class="col-12" >
                        <div class="table-content table-responsive">
                            <table class="table table-style-2 wishlist-table text-center">
                                <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>قانون</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="border-bottom: 1px solid #efefef">1</td>
                                        <td class="product-name text-start wide-column" style="border-bottom: 1px solid #efefef">
                                            <h3 style="line-height: 30px; text-align: justify;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom: 1px solid #efefef">2</td>
                                        <td class="product-name text-start wide-column" style="border-bottom: 1px solid #efefef">
                                            <h3 style="line-height: 30px; text-align: justify;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: Rules -->

{% endblock %}


