{% extends '_base_services.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}


{% block title %}{% trans 'Session' %}{% endblock %}

{% block content %}

    <main class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36" style="background-color: transparent">
        <div class="container pb-14">
            <div class="grid grid-cols-12 gap-2 lg:gap-6">

                <!-- top ribbon  -->
                <div class="col-span-12 rounded-lg bg-primary-light dark:bg-secondary-dark">
                    <ol class="grid grid-cols-2 overflow-hidden rounded-lg">
                        <li class="flex flex-col items-center justify-center gap-2 bg-tertiary-500/10 p-4 text-xs text-tertiary-500 dark:bg-tertiary-400/10 dark:text-tertiary-400 sm:text-sm md:text-base" style="background-color: #00A65C;">
                            <p class="leading-none" style="font-size: 1.3em; color: #fefeff; font-weight: bold">{% trans 'Submit a session request' %}</p>
                        </li>
                        <li class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-tertiary-500 opacity-50 dark:text-tertiary-400 sm:text-sm md:text-base" style="background-color: #fefeff">
                            <p class="leading-none" style="font-size: 1.3em; color: #00a65c; font-weight: bold">{% trans 'Detail of session request' %}</p>
                        </li>
                  </ol>
                </div>
                <!-- end: top ribbon -->

                <!-- main session form  -->
                <div class="col-span-12 md:col-span-12">
                    <div class="rounded-lg bg-primary-light p-4 dark:bg-secondary-dark">

                        <div class="col-span-5 md:col-span-3">
                            <div class="grid grid-cols-1 items-center gap-6 mt-2">
                                <form method="post" novalidate>
                                    {% csrf_token %}

                                    <!-- City -->
                                    <div class="col-span-2 md:col-span-1 mt-2 mb-12">
                                        <label for="{{ form.city.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-2">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                              {% trans 'Choose the session city' %}
                                            </span>
                                            {% render_field form.city type="text" id="city" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                        {% if form.city.errors %}
                                            {% for error in form.city.errors %}
                                                <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <!-- District -->
                                    <div class="col-span-2 md:col-span-1 mt-2 mb-12">
                                        <label for="{{ form.district.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-2">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                              {% trans 'Choose the district' %}
                                            </span>
                                            {% render_field form.district type="text" id="district" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                        {% if form.district.errors %}
                                            {% for error in form.district.errors %}
                                                <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <!-- Customer type -->
                                    <div class="col-span-2 md:col-span-1 mb-12">
                                        <label for="{{ form.customer_type.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-2">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Choose the user type' %}
                                            </span>
                                            {% render_field form.customer_type type="text" id="customer_type" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                        {% if form.customer_type.errors %}
                                            {% for error in form.customer_type.errors %}
                                                <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <!-- Date -->
                                    <div class="col-span-2 md:col-span-1 mb-12">
                                        <label for="{{ form.date.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-2">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Choose the session date' %}
                                            </span>
                                            {% render_field form.date type="text" id="date" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                        {% if form.date.errors %}
                                            {% for error in form.date.errors %}
                                                <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <!-- Time -->
                                    <div class="col-span-2 md:col-span-1 mb-12">
                                        <label for="{{ form.time.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-2">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'Choose the counseling time' %}
                                            </span>
                                            {% render_field form.time class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                        {% if form.time.errors %}
                                            {% for error in form.time.errors %}
                                                <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <!-- Name -->
                                    <div class="col-span-2 md:col-span-1 mb-12">
                                        <label for="{{ form.name_and_family.id_for_label }}" class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-2">
                                            <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300 mr-4">
                                                {% trans 'First and last name' %}
                                            </span>
                                            {% render_field form.name_and_family type="text" id="name_and_family" class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light" %}
                                        </label>
                                        {% if form.name_and_family.errors %}
                                            {% for error in form.name_and_family.errors %}
                                                <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <!-- Submit -->
                                    <div class="col-span-2 flex justify-end">
                                        <button style="padding: 1em 2.5em;!important;" type="submit" class="btn-primary w-full px-4 py-2 md:w-auto">{% trans 'Submit the session request' %}</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end: main session form  -->

            </div>
        </div>
    </main>

{% endblock %}


